

.Header-section{
    background-color: #003B95;
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo{
    margin: 16px;
    padding-left: 12px;
    font-size: 36px;
    font-weight: 500;

}

.header-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.india-logo img{
    border-radius: 100px;
    width: 24px;

}
.header-details .register{
    margin-left: -24px;
    width: 76px;
    height: 36px;
    color: #006CE4;
    font-weight: 700;

}


.header-details .signin{
    margin-left: -32px;
    width: 76px;
    height: 36px;
    margin-right: 54px;
    color: #006CE4;
    font-weight: 700;

}

.register{
padding: 4px;
border-radius: 5px;
}

.signin{
    padding: 4px;
    border-radius: 5px;
}



